:root{
    --blue: rgb(61, 192, 248);
    --yellow: rgb(234, 239, 76);
    --grey: #eee;
    --white: #fff;
    margin: 0;
    padding: 0;
}

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul>li{
    list-style-type: none;
    margin-bottom: .5rem;
}

.fa{
    color: var(--white);
    margin-right: 1rem;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5.5fr;
}

.sidebar{
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: 1rem;
    color: var(--white);
}

h1{
    font-size: 1.7rem;
}

.options{
    margin: 3rem 0 4rem 0;
}

.header{
    background-color: var(--white);
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.upper, .lower{
    display: flex;
    padding: .3rem;
    gap: 2rem;
}

#search{
    width: 40vw;
    height: 1.5rem;
    background-color: var(--grey);
    border-radius: 450px;
    margin-right: 15rem;
}

.userName{
    font-weight: bold;
}

.fa-user{
    margin-top: .5rem;
}

.text{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.text>h2{
    font-size: 2rem;
}

.opt{
    display: flex;
    gap: 1rem;
    margin-left: 24rem;
}

.opt1{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 8rem;
    background-color: var(--blue);
    color: #fff;
    border-radius: 450px;
}

.projects{
    background-color: var(--grey);
}

.projects>h2{
    padding: 1.2rem;
    font-size: 1.2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: .8rem;
    padding: 0.6rem;
}

.pjt{
    background-color: var(--white);
    border-radius: 1.3rem;
    border-left: 8px solid var(--yellow);
    height: 15rem;
}

.actions{
    position: relative;
    bottom: 0;
    right: 0;
}

.pjt>*{
    padding: .8rem;
}